<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript og HTML demo</title>
</head>
<body>
    <h1 id="header1">This is your first JS exercise</h1>
    <input type="text" id="input">
    <br>
    <br>
    <button id="knapFirst" onclick="btnClick()">Click me</button>
    <br>
    <br>
    <p id="thankyou"hidden>Thank you for changing the input to: <span id="inputText" style="font-weight: bold"></span></p>
    <script>
        var action = 1;

        function btnClick() {
            if (action === 1){
                document.getElementById("knapFirst").innerText = "Change text above me and click me again!";
                document.getElementById("input").value ="Change me";
                document.getElementById("thankyou").hidden = true;

                action = 2;
            }
            else if (action === 2) {
                var inputval = document.getElementById("input").value;
                document.getElementById("knapFirst").innerText = "Click me again!";
                document.getElementById("thankyou").hidden = false;
                document.getElementById("inputText").innerText = inputval;
                action = 1;
            }
        }
    </script>
</body>
</html>